<h1>
  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
</h1>

<div class="listtodowrapper">
  <h2 class="listtodowrapper__item">my task list</h2>
  <div class="listtodowrapper__item thelist">
    <ul>
      <li *ngFor="let todo of todos" class="listline">
        <p class="listline__item truncate">
          {{todo.todo}}
        </p>
        <p class="listline__item buttons">
          <button type="button" class="buttons__item" (click)="changeTodoStatus(todo)">done</button>
          <button type="button" class="buttons__item" (click)="viewTodo(todo._id)">view</button>
          <button type="button" class="buttons__item" (click)="deleteTodo(todo)">delete</button>
        </p>
        <div class="listline__item checkdone">
          <span *ngIf="todo.isDone"><i class="fa fa-check" aria-hidden="true"></i></span><span *ngIf="!todo.isDone"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
      </li>
    </ul>
  </div>
  <button class="listtodowrapper__item addbtn" type="button" (click)="addTodo()">add task</button>
</div>
